@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0px);
  }
  99% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(600px);
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(600px);
  }
  1% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes load-spinner {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load-spinner {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
