// Colors
$lightOrange: #f09d51;
$darkBlack: #222222;
$white80: rgba(255, 255, 255, 0.8);
$white: #fff;

// Background Colors
$lightBackground: #e7e2dd;
$lightBackgroundOrange: rgba(240, 158, 81, 0.7);
$lightBackgroundGrey: #e7e2dd;

// Font Family
$fontLato: "Lato", "sans-serif";
